* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: muli, sans-serif;
  font-size: 1.6rem;
}

.header {
  background: #efffda;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.header-inner {
  padding: 10px 0;
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
}
.logo-img {
  width: 70px;
  height: 40px;
  border-radius: 10px;
}

.nav-main {
  display: flex;
  margin-left: 40px;
}
.nav-item {
  margin-right: 40px;
}
.nav-link {
  display: inline-block;
  padding: 20px 0;
  transition: all 0.2s;
  position: relative;
}
.nav-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: auto;
  right: 0;
  width: 0;
  height: 1px;
  background: #31ff31;
  transition: width 0.2s;
}
.nav-link:hover {
  color: #31ff31;
}
.nav-link:hover::after {
  width: 100%;
  left: 0;
}

.group-btn {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.btn-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  height: 35px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.2s;
}
.btn-1:hover {
  background: #31ff31;
  color: #fff;
}
.btn-login {
  margin-right: 10px;
}
.btn-signup {
  color: #fff;
  background: #e8505b;
}

.top-head {
  border: 1px solid #ccc;
  display: flex;
  height: 500px;
}
.top-head-left {
  width: 60%;
  border: 1px solid #ccc;
  background-image: url(https://images.unsplash.com/photo-1630852722488-7fa555512641?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  position: relative;
}
.top-head-left-content {
  background: #fff;
  border: 1px solid #31ff31;
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top-head-left-content h3 {
  font-size: 3rem;
  width: fit-content;
  padding: 3rem 4rem;
}
.top-head-right {
  width: 40%;
  display: flex;
  justify-content: center;
}

.account {
  border: 1px solid #ccc;
  width: 400px;
  border-radius: 40px;
}
.account-tab {
  display: flex;
  justify-content: center;
}
.account-tab-item {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #efffda;
  padding: 20px 0;
  transition: all 0.2s;
  cursor: pointer;
}
.account-tab-item:hover {
  background: #31ff31;
}
.account-tab-login {
  border-radius: 40px 0 0 0;
}
.account-tab-signup {
  border-radius: 0 40px 0 0;
}

.login-form form {
  padding: 40px 0;
}

.inputBox {
  margin: 0 auto;
  position: relative;
  width: 300px;
  height: 46px;
  margin-bottom: 25px;
}
.inputBox:last-child {
  margin-bottom: 0;
}
.inputBox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 1px solid #b3b4c9;
  padding: 15px;
  outline: none;
  font-size: 1.6rem;
}
.inputBox input:focus ~ span, .inputBox input:valid ~ span {
  transform: translate(-10px, -35px);
  font-size: 1.2rem;
}
.inputBox input:focus {
  box-shadow: 0 0 5px 0 #31ff31;
}
.inputBox input[type=submit] {
  background: #efffda;
  border-radius: 10px;
  border-color: #31ff31;
  cursor: pointer;
  transition: all 0.3s;
}
.inputBox input[type=submit]:hover {
  background: #31ff31;
}
.inputBox span {
  position: absolute;
  top: 5px;
  left: 1px;
  padding: 15px;
  display: inline-block;
  pointer-events: none;
  transition: all 0.3s;
  color: #b3b4c9;
}

/*# sourceMappingURL=home.css.map */
