.header-user-profile {
    display: flex;
    align-items: center;
    position: relative;
}
.profile {
    &-img {
        margin-right: 10px;
        img {
            border-radius: 50%;
            width: 40px;
            height: 40px;
        }
    }
    &-name {
        cursor: pointer;
        position: relative;
    }
}
.yourClass {
    padding: 30px 0;
}
.joinClass {
    margin-right: 40px;
    border: 1px solid #31ff31;
    border-radius: 5px;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
        background: #31ff31;
        color: #fff;
    }
}
.class {
    &-item {
        display: block;
        width: calc(100% / 5 - 32px);
        height: 150px;
        border: 1px solid #ccc;
        background-image: url(https://images.unsplash.com/photo-1557683311-eac922347aa1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1129&q=80);
        background-size: 100%;
        color: #fff;
        padding: 20px;
        margin: 20px;
        h3 {
            margin-bottom: 10px;
        }
        &:hover {
            box-shadow: 5px 5px 10px 0 rgba(#000, 0.2);
        }
        &:nth-child(2) {
            background-image: url(https://images.unsplash.com/photo-1508614999368-9260051292e5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80);
        }
        &:nth-child(3) {
            background-image: url(https://images.unsplash.com/photo-1532292060982-8bfb986808e7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80);
        }
        &:nth-child(4) {
            background-image: url(https://images.unsplash.com/photo-1554034483-04fda0d3507b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
        }
        &:nth-child(5) {
            background-image: url(https://images.unsplash.com/photo-1557682250-33bd709cbe85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1129&q=80);
        }
    }
}

.joinClass-modal {
    width: 500px;
    height: 300px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    opacity: 0;
    border-radius: 10px;
    visibility: hidden;
    padding: 10px;
    position: relative;
}
.joinClass-wrapper {
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    h3 {
        margin-bottom: 30px;
    }
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px;
    cursor: pointer;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(#000,0.7);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
}
.user-action {
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0;
    width: max-content;
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(#000, 0.2);
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
    &-link {
        display: inline-block;
        padding: 5px 0;
        transition: all 0.2s;
        &:hover {
            color: #31ff31;
        }
    }
}
.left-header {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.show {
    opacity: 1;
    visibility: visible;
}